apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-minikube-app
  labels:
    app: devops-minikube-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-minikube-app
  template:
    metadata:
      labels:
        app: devops-minikube-app
    spec:
      containers:

        - name: devops-minikube-app
          image: ghcr.io/mohamedhamdy120/devops-minikube-app:aeba44f8c2b4103fcf746ac09f9691ec6f620370
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10


          env:
            - name: PORT
              value: "3000"
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: devops-app-secrets
                  key: MONGO_URI
